<html ng-app="traktor">
    <head>
        <title>traktor</title>
        <link rel="icon" href="img/favicon.ico">
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="css/site.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <h1>traktor</h1>
            <a href="#settingsModal" data-toggle="modal" style="float: right">Settings</a>
            <div id="settingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 id="myModalLabel">Settings</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" id="traktorUser" placeholder="Traktor Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="password" id="traktorPass" placeholder="Traktor Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" id="traktUser" placeholder="Trakt Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="password" id="traktPass" placeholder="Trakt Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="password" id="traktApiKey" placeholder="Trakt API Key">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Save Settings</button>
                </div>
            </div>
            <div>
                <div class="content span5" ng-controller="PendingMovieListCtrl">
                    <span ng-show="pendingMovies.length === 0" style=>You haven't got any movies in your queue! Please setup and run traktor.sh to add them.</span>
                    <table class="table table-hover">
                        <tr ng-repeat="movie in pendingMovies" ng-class="{success: movie == selectedMovie}">
                            <td><a ng-click="selectMovie(movie)">{{movie.filename | displayName}}</a></td>
                        </tr>
                    </table>
                </div>
                <div class="content span7" ng-controller="PendingMovieResultsCtrl">
                    <a ng-show="!noResults" ng-click="toggleFakeNoResults()">Toggle Manual Add</a>
                    <table class="table table-hover" ng-show="movieIsSelected && !noResults && !fakeNoResults">
                        <tr ng-repeat="result in selectedResults">
                            <td>{{result.title}}</td>
                            <td>{{result.year}}</td>
                            <td><a ng-show="result.imdb_id" ng-href="http://www.imdb.com/title/{{result.imdb_id}}" target="_blank"><i class="icon-film"></i></a></td>
                            <td><a ng-click="applySearchResult(result, true)"><i class="icon-eye-open"></i></a></td>
                            <td><a ng-click="applySearchResult(result, false)"><i class="icon-thumbs-up"></i></a></td>
                        </tr>
                    </table>
                    <form class="form-horizontal" ng-show="movieIsSelected && (noResults || fakeNoResults)">
                        <span>No results found for this movie with auto-search. Try searching <a href="http://www.trakt.tv" target="_blank">manually</a> and enter the information below.</span>
                        <div class="control-group">
                            <label class="control-label">Title:</label>
                            <div class="controls">
                                <input type="text" id="movie-title" ng-model="title" placeholder="e.g. Psycho">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Year:</label>
                            <div class="controls">
                                <input type="number" id="movie-year" ng-model="year" placeholder="e.g. 1960">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">IMDB id:</label>
                            <div class="controls">
                                <input type="text" id="movie-imdb-id" ng-model="imdb" placeholder="e.g. tt001234567">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="checkbox" ng-model="watched">Watched?
                                <button type="submit" class="btn" ng-click="applySearchResult({'title': title, 'year': year, 'imdb_id': imdb}, watched)">Apply</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/traktor.js"></script>
</html>