html, body {
    height:                         100%;
    max-height:                     100%;
}

.container {
    height:                         100%;
    max-height:                     100%;
}

.content {
    height:                         90%;
    max-height:                     90%;
    overflow:                       auto;
}